IIDX28pc(status="0" expire="600")
  monthly_mranking(__type="u16" __count="20") -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
  total_mranking(__type="u16" __count="20") -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
  internet_ranking
  secret_ex_course
  kac_mid(__type="s32" __count="5") -1 -1 -1 -1 -1
  kac_clid(__type="s32" __count="5") -1 -1 -1 -1 -1
  ir(beat=beat)
  cm(id="0" folder="cm_ultimate" compo="cm_ultimate")
  tdj_cm
    cm(id="0" filename="cm_bn_001")
    cm(id="1" filename="cm_bn_002")
    cm(id="2" filename="event_bn_001")
    cm(id="3" filename="event_bn_004")
    cm(id="4" filename="event_bn_006")
    cm(id="5" filename="fipb_001")
    cm(id="6" filename="year_bn_004")
    cm(id="7" filename="year_bn_005")
    cm(id="8" filename="year_bn_006_2")
    cm(id="9" filename="year_bn_007")
  movie_agreement(version="1")
  license
    string(__type="str") Asphyxia
  movie_upload(url=movie_upload)
  button_release_frame(frame="0")
  escape_package_info
  expert(phase=expert)
  expert_random_secret(phase=expert_secret)
  boss(phase=boss)
  vip_pass_black
  eisei(open="1")
  deller_bonus(open="1")
  newsong_another(open="1")
  pcb_check(flg="0")
  expert_secret_full_open
  eaorder_phase(phase="2")
  common_evnet(flg="-1")
  system_voice_phase(phase=system_voice)
  extra_boss_event(phase=extra_boss)
  event1_phase(phase=event_1)
  premium_area_news(open="1")
  premium_area_qpro(open="1")
  play_video
  world_tourism(open_list="1")
  bpl_battle(phase="1")
  display_asio_logo
