IIDX31gameSystem(status="0")
  grade_course
    play_style(__type="s32") 0
    grade_id(__type="s32") 15
    music_id_0(__type="s32") 25090
    class_id_0(__type="s32") 3
    music_id_1(__type="s32") 23068
    class_id_1(__type="s32") 3
    music_id_2(__type="s32") 19004
    class_id_2(__type="s32") 3
    music_id_3(__type="s32") 29045
    class_id_3(__type="s32") 3
    is_valid(__type="bool") 1
    index(__type="s32") 0
    cube_num(__type="s32") 0
    kind(__type="s32") 0
  grade_course
    play_style(__type="s32") 0
    grade_id(__type="s32") 16
    music_id_0(__type="s32") 23005
    class_id_0(__type="s32") 3
    music_id_1(__type="s32") 27078
    class_id_1(__type="s32") 3
    music_id_2(__type="s32") 22065
    class_id_2(__type="s32") 3
    music_id_3(__type="s32") 27060
    class_id_3(__type="s32") 3
    is_valid(__type="bool") 1
    index(__type="s32") 1
    cube_num(__type="s32") 0
    kind(__type="s32") 0
  grade_course
    play_style(__type="s32") 0
    grade_id(__type="s32") 17
    music_id_0(__type="s32") 29007
    class_id_0(__type="s32") 3
    music_id_1(__type="s32") 26108
    class_id_1(__type="s32") 3
    music_id_2(__type="s32") 19002
    class_id_2(__type="s32") 3
    music_id_3(__type="s32") 18004
    class_id_3(__type="s32") 3
    is_valid(__type="bool") 1
    index(__type="s32") 2
    cube_num(__type="s32") 0
    kind(__type="s32") 0
  grade_course
    play_style(__type="s32") 0
    grade_id(__type="s32") 18
    music_id_0(__type="s32") 25007
    class_id_0(__type="s32") 3
    music_id_1(__type="s32") 18032
    class_id_1(__type="s32") 3
    music_id_2(__type="s32") 16020
    class_id_2(__type="s32") 3
    music_id_3(__type="s32") 12004
    class_id_3(__type="s32") 3
    is_valid(__type="bool") 1
    index(__type="s32") 3
    cube_num(__type="s32") 0
    kind(__type="s32") 0
  grade_course
    play_style(__type="s32") 1
    grade_id(__type="s32") 15
    music_id_0(__type="s32") 15032
    class_id_0(__type="s32") 3
    music_id_1(__type="s32") 29033
    class_id_1(__type="s32") 3
    music_id_2(__type="s32") 27092
    class_id_2(__type="s32") 3
    music_id_3(__type="s32") 30020
    class_id_3(__type="s32") 3
    is_valid(__type="bool") 1
    index(__type="s32") 4
    cube_num(__type="s32") 0
    kind(__type="s32") 0
  grade_course
    play_style(__type="s32") 1
    grade_id(__type="s32") 16
    music_id_0(__type="s32") 10028
    class_id_0(__type="s32") 3
    music_id_1(__type="s32") 26070
    class_id_1(__type="s32") 3
    music_id_2(__type="s32") 28091
    class_id_2(__type="s32") 3
    music_id_3(__type="s32") 23075
    class_id_3(__type="s32") 3
    is_valid(__type="bool") 1
    index(__type="s32") 5
    cube_num(__type="s32") 0
    kind(__type="s32") 0
  grade_course
    play_style(__type="s32") 1
    grade_id(__type="s32") 17
    music_id_0(__type="s32") 26012
    class_id_0(__type="s32") 3
    music_id_1(__type="s32") 28002
    class_id_1(__type="s32") 3
    music_id_2(__type="s32") 17017
    class_id_2(__type="s32") 3
    music_id_3(__type="s32") 28005
    class_id_3(__type="s32") 3
    is_valid(__type="bool") 1
    index(__type="s32") 6
    cube_num(__type="s32") 0
    kind(__type="s32") 0
  grade_course
    play_style(__type="s32") 1
    grade_id(__type="s32") 18
    music_id_0(__type="s32") 28008
    class_id_0(__type="s32") 3
    music_id_1(__type="s32") 15001
    class_id_1(__type="s32") 3
    music_id_2(__type="s32") 19002
    class_id_2(__type="s32") 3
    music_id_3(__type="s32") 09028
    class_id_3(__type="s32") 3
    is_valid(__type="bool") 1
    index(__type="s32") 7
    cube_num(__type="s32") 0
    kind(__type="s32") 0
  arena_schedule
    phase(__type="u8") 2
    rule_type(__type="u8") 0
    start(__type="u32") 1605784800
    end(__type="u32") 4102326000
  arena_music_difficult 
    play_style(__type="s32") 0
    arena_class(__type="s32") 0
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult 
    play_style(__type="s32") 0
    arena_class(__type="s32") 1
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult 
    play_style(__type="s32") 0
    arena_class(__type="s32") 2
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult 
    play_style(__type="s32") 0
    arena_class(__type="s32") 3
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult 
    play_style(__type="s32") 0
    arena_class(__type="s32") 4
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult 
    play_style(__type="s32") 0
    arena_class(__type="s32") 5
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult 
    play_style(__type="s32") 0
    arena_class(__type="s32") 6
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult 
    play_style(__type="s32") 0
    arena_class(__type="s32") 7
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult 
    play_style(__type="s32") 0
    arena_class(__type="s32") 8
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 0
    arena_class(__type="s32") 9
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 0
    arena_class(__type="s32") 10
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 0
    arena_class(__type="s32") 11
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 0
    arena_class(__type="s32") 12
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 0
    arena_class(__type="s32") 13
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 0
    arena_class(__type="s32") 14
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 0
    arena_class(__type="s32") 15
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 0
    arena_class(__type="s32") 16
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 0
    arena_class(__type="s32") 17
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 0
    arena_class(__type="s32") 18
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 0
    arena_class(__type="s32") 19
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 0
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 1
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 2
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 3
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 4
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 5
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 6
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 7
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 8
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 9
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 10
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 11
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 12
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 13
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 14
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 15
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 16
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 17
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 18
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  arena_music_difficult  
    play_style(__type="s32") 1
    arena_class(__type="s32") 19
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") -1
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 0
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 1
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 2
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 3
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 4
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 5
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 6
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20    
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 7
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 8
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20    
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 9
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20    
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 10
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20    
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 11
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 12
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 13
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 14
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 15
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 16
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 17
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 18
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 19
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 0
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 1
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 2
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 3
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 4
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 5
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 6
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 7
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 8
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 9
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 10
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 11
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 12
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 13
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 14
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 15
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 16
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 17
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 18
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 19
    low_arena_class(__type="s32") 1
    high_arena_class(__type="s32") 20
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 0
    grade_id(__type="s32") 6
    low_music_difficult(__type="s32") 4
    high_music_difficult(__type="s32") 5
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 1
    grade_id(__type="s32") 7
    low_music_difficult(__type="s32") 5
    high_music_difficult(__type="s32") 6
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 2
    grade_id(__type="s32") 8
    low_music_difficult(__type="s32") 6
    high_music_difficult(__type="s32") 6
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 3
    grade_id(__type="s32") 9
    low_music_difficult(__type="s32") 6
    high_music_difficult(__type="s32") 7
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 4
    grade_id(__type="s32") 10
    low_music_difficult(__type="s32") 7
    high_music_difficult(__type="s32") 7
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 5
    grade_id(__type="s32") 10
    low_music_difficult(__type="s32") 7
    high_music_difficult(__type="s32") 8
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 6
    grade_id(__type="s32") 11
    low_music_difficult(__type="s32") 8
    high_music_difficult(__type="s32") 8
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 7
    grade_id(__type="s32") 11
    low_music_difficult(__type="s32") 8
    high_music_difficult(__type="s32") 9
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 8
    grade_id(__type="s32") 12
    low_music_difficult(__type="s32") 9
    high_music_difficult(__type="s32") 9
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 9
    grade_id(__type="s32") 12
    low_music_difficult(__type="s32") 9
    high_music_difficult(__type="s32") 10
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 10
    grade_id(__type="s32") 13
    low_music_difficult(__type="s32") 9
    high_music_difficult(__type="s32") 10
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 11
    grade_id(__type="s32") 13
    low_music_difficult(__type="s32") 10
    high_music_difficult(__type="s32") 10
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 12
    grade_id(__type="s32") 14
    low_music_difficult(__type="s32") 10
    high_music_difficult(__type="s32") 11
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 13
    grade_id(__type="s32") 14
    low_music_difficult(__type="s32") 10
    high_music_difficult(__type="s32") 11
    is_leggendaria(__type="bool") 1
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 14
    grade_id(__type="s32") 15
    low_music_difficult(__type="s32") 11
    high_music_difficult(__type="s32") 11
    is_leggendaria(__type="bool") 1
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 15
    grade_id(__type="s32") 15
    low_music_difficult(__type="s32") 11
    high_music_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 16
    grade_id(__type="s32") 16
    low_music_difficult(__type="s32") 11
    high_music_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 17
    grade_id(__type="s32") 16
    low_music_difficult(__type="s32") 11
    high_music_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 18
    grade_id(__type="s32") 17
    low_music_difficult(__type="s32") 12
    high_music_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") 19
    grade_id(__type="s32") 18
    low_music_difficult(__type="s32") 12
    high_music_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 0
    grade_id(__type="s32") 6
    low_music_difficult(__type="s32") 3
    high_music_difficult(__type="s32") 5
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 1
    grade_id(__type="s32") 7
    low_music_difficult(__type="s32") 3
    high_music_difficult(__type="s32") 5
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 2
    grade_id(__type="s32") 8
    low_music_difficult(__type="s32") 4
    high_music_difficult(__type="s32") 5
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 3
    grade_id(__type="s32") 8
    low_music_difficult(__type="s32") 4
    high_music_difficult(__type="s32") 5
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 4
    grade_id(__type="s32") 9
    low_music_difficult(__type="s32") 5
    high_music_difficult(__type="s32") 6
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 5
    grade_id(__type="s32") 9
    low_music_difficult(__type="s32") 5
    high_music_difficult(__type="s32") 6
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 6
    grade_id(__type="s32") 10
    low_music_difficult(__type="s32") 6
    high_music_difficult(__type="s32") 6
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 7
    grade_id(__type="s32") 10
    low_music_difficult(__type="s32") 6
    high_music_difficult(__type="s32") 7
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 8
    grade_id(__type="s32") 11
    low_music_difficult(__type="s32") 7
    high_music_difficult(__type="s32") 7
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 9
    grade_id(__type="s32") 11
    low_music_difficult(__type="s32") 7
    high_music_difficult(__type="s32") 8
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 10
    grade_id(__type="s32") 12
    low_music_difficult(__type="s32") 8
    high_music_difficult(__type="s32") 8
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 11
    grade_id(__type="s32") 12
    low_music_difficult(__type="s32") 8
    high_music_difficult(__type="s32") 9
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 12
    grade_id(__type="s32") 13
    low_music_difficult(__type="s32") 9
    high_music_difficult(__type="s32") 9
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 13
    grade_id(__type="s32") 13
    low_music_difficult(__type="s32") 9
    high_music_difficult(__type="s32") 10
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 14
    grade_id(__type="s32") 14
    low_music_difficult(__type="s32") 9
    high_music_difficult(__type="s32") 10
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 15
    grade_id(__type="s32") 15
    low_music_difficult(__type="s32") 10
    high_music_difficult(__type="s32") 10
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 16
    grade_id(__type="s32") 15
    low_music_difficult(__type="s32") 10
    high_music_difficult(__type="s32") 11
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 17
    grade_id(__type="s32") 16
    low_music_difficult(__type="s32") 11
    high_music_difficult(__type="s32") 11
    is_leggendaria(__type="bool") 1
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 18
    grade_id(__type="s32") 17
    low_music_difficult(__type="s32") 11
    high_music_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1    
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") 19
    grade_id(__type="s32") 18
    low_music_difficult(__type="s32") 12
    high_music_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
  CommonBossPhase(val=boss)
  Event1Phase(val=event_1_internal)
  Event1Value(val=event_1)
  Event2Phase(val=event_1_internal)
  ExtraBossEventPhase(val=extra_boss)
  isNewSongAnother12OpenFlg(val="1")
  isKiwamiOpenFlg(val="1")
  WorldTourismOpenList(val="-1")
  OldBPLBattleOpenPhase(val="2")
  UnlockLeggendaria(val="1")
  Event1AllPlayerTotalGetMetron(val="0")
