#{version}(status="0" mid=music_id clid=clid crate="1000" frate="0" rankside=rankside)
  ranklist(total_user_num=total_user_num)
    - for (let rd of ranklist)
      data(achieve="0" body=rd.body clflg=rd.clflg dgrade=rd.dgrade face=rd.face hair=rd.hair hand=rd.hand head=rd.head iidx_id=rd.iidx_id myFlg=rd.myFlg name=rd.name opname=rd.opname pid=rd.pid rnum=rd.rnum score=rd.score sgrade=rd.sgrade update=rd.update)
  shopdata(rank="1")
