#{version}(status="0" my_option=option my_option2=option_2)
  if oGhost!=null
    sdata(__type="bin" score=oGhost.score achieve=oGhost.achieve pid=oGhost.pid name=oGhost.name riidxid=oGhost.iidxid option=oGhost.option option2=oGhost.option2) #{oGhost.ghost}
      gauge_data(__type="bin") #{oGhost.ghostGauge}
  if ghost!=null
    mydata(__type="bin") #{ghost}
    my_gauge_data(__type="bin") #{ghost_gauge}
