//DATA//
  profile: DB.FindOne(refid, { collection: "profile" })
  profiles: DB.Find(null, { collection: "profile" })
  rival: DB.Find(refid, { collection: "rival" })

-
  const rival_list=[["", "None", "0000-0000"]]
  profiles.forEach((res) => {
    rival_list.push([res.refid, res.name, res.iidxidstr])
  })

div
  .card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-edit
        | Rivals
    .card-content
      form(method="post" action="/emit/updateIIDXRivalSettings")
        .field
          input(type="text" name="iidxid", value=profile.iidxidstr readonly hidden)
          label.label SP Rivals
          .body
            .control
              .select
                select(name="sp_rival1")
                  each i in rival_list
                    option(value=i[0]) #{i[1]} [#{i[2]}]
            .control
              .select
                select(name="sp_rival2")
                  each i in rival_list
                    option(value=i[0]) #{i[1]} [#{i[2]}]
            .control
              .select
                select(name="sp_rival3")
                  each i in rival_list
                    option(value=i[0]) #{i[1]} [#{i[2]}]
            .control
              .select
                select(name="sp_rival4")
                  each i in rival_list
                    option(value=i[0]) #{i[1]} [#{i[2]}]
            .control
              .select
                select(name="sp_rival5")
                  each i in rival_list
                    option(value=i[0]) #{i[1]} [#{i[2]}]
            .control
              .select
                select(name="sp_rival6")
                  each i in rival_list
                    option(value=i[0]) #{i[1]} [#{i[2]}]
        .field
          label.label DP Rivals
          .body
            .control
              .select
                select(name="dp_rival1")
                  each i in rival_list
                    option(value=i[0]) #{i[1]} [#{i[2]}]
            .control
              .select
                select(name="dp_rival2")
                  each i in rival_list
                    option(value=i[0]) #{i[1]} [#{i[2]}]
            .control
              .select
                select(name="dp_rival3")
                  each i in rival_list
                    option(value=i[0]) #{i[1]} [#{i[2]}]
            .control
              .select
                select(name="dp_rival4")
                  each i in rival_list
                    option(value=i[0]) #{i[1]} [#{i[2]}]
            .control
              .select
                select(name="dp_rival5")
                  each i in rival_list
                    option(value=i[0]) #{i[1]} [#{i[2]}]
            .control
              .select
                select(name="dp_rival6")
                  each i in rival_list
                    option(value=i[0]) #{i[1]} [#{i[2]}]
        .field
            button.button.is-primary(type="submit") 
              span.icon
                i.mdi.mdi-check
              span Submit
